<header>
  <div id="header-area">
    <div id="header-group">
      <a href="/code4projects/" title="Code4Projects">
        <img  src="assets/img/code4projects-logo-mini.png" alt="Code4Projects Logo" width="150" height="150"/>
      </a>    
      <div id="social-media-group">
        <div class="social-media-title">Follow me on:</div>
        <a class="social-media-icon social-media-icon-facebook" href="https://www.facebook.com/code4projects/">
          <span class="fa-brands fa-facebook-f"></span>
        </a>
        <a class="social-media-icon social-media-icon-twitter" href="https://twitter.com/code4projects">
          <i class="fa-brands fa-twitter"></i>
        </a>
        <a class="social-media-icon social-media-icon-linkedin" href="https://www.linkedin.com/in/salvatore-d-angelo-0321851/">
          <i class="fa-brands fa-linkedin"></i>
        </a>
        <a class="social-media-icon social-media-icon-youtube" href="https://www.youtube.com/channel/UCBntvkFS3phHOFAWNS8_4pg/">
          <i class="fa-brands fa-youtube"></i>
        </a>
        <a class="social-media-icon social-media-icon-github" href="https://github.com/sasadangelo">
          <i class="fa-brands fa-github"></i>
        </a>
      </div>
    </div>
</div>
</header>
